body {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
  cursor: default;
  padding: 5px 0 0 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

header {
  margin-bottom: 20px;
}
h1 {
  font-weight: 100;
  margin: 0;
  font-size: 20px;
}

p {
  line-height: 18px;
}
#spn-fallback {
  display: none;
  position: relative;
  top: -80px;
}
#spn-fallback p {
  margin: 0;
}
#spn-fallback a {
  text-decoration: underline;
}
#no-wasm {
  display: none;
}

#topbar {
  display: flex;
  background: #222;
  color: #eee;
  width: 805px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}
.right {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
.control {
  margin: 0 10px;
}
label {
  color: #bbb;
  font-size: 12px;
}
select.chrome {
  max-width: 10rem;
  background: #222;
  color: #eee;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}
li {
  cursor: pointer;
}
body,
html {
  overflow: hidden;
  margin: 0;
}
html {
  padding: 0;
}
body {
  padding-left: calc((100vw - 815px) / 2);
  padding-top: calc((100vh - 442px) / 2);
}
juce-obxd {
  display: inline-block;
  transform: scale(0.75);
  transform-origin: 0 0;
}

#keys {
  border-top: 3px solid darkred;
  width: 805px;
  position: relative;
  top: -111px;
  padding: 5px;
  padding-bottom: 6px;
  background: #222;
}
#keyboard {
  width: 805px;
}

footer {
  position: relative;
  top: -111px;
  width: 810px;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #444;
  margin-top: 5px;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: darkgreen;
}
main {
  width: 815px;
  height: 442px;
  display: block;
  image-rendering: pixelated;
}
main.fullscreen {
  box-shadow: 0px 0px 80px 0px rgba(0,210,255,0.4);
  scale: min(calc(95vw / 815px), calc(95vh / 442px))
}
#midiInfo {
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  color: white;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
  user-select: none;
  pointer-events: none;
  background-color: rgba(0,0,0,0.5);
  padding: 3px;
  font-family: monospace;
  line-height: 1rem;
  font-size: 1rem;
}